:root {
  color-primary: $color__primary;
  color-primary-light: $color__primary_light;
  color-primary-dark: $color__primary_dark;
  color-secondary: $color__secondary;
  color-secondary-light: $color__secondary_light;
  color-secondary-dark: $color__secondary_dark;
}
body {
	background: $color__background-body;
}


