/*--------------------------------------------------------------
## Fonts start
--------------------------------------------------------------*/
@import "_fontawesome-all-min.scss";

// @import "fontawesome/_fontawesome.scss";
// @import "fontawesome/_brands.scss";
// //@import "fontawesome/_duotone.scss";
// //@import "fontawesome/_v4-shims.scss";
// //@import "fontawesome/_solid.scss";
// @import "fontawesome/_regular.scss";
// @import "fontawesome/_light.scss";
// @import "fontawesome/_thin.scss";

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

//@import "montserrat";

@import "verdanapro";

@font-face {
  font-family: 'Bankgoht';
  src: url('fonts/BANKGOHT.eot');
  src: url('fonts/BANKGOHT.eot?#iefix') format('embedded-opentype'), url('fonts/BANKGOHT.woff') format('woff'), url('fonts/BANKGOHT.ttf') format('truetype'), url('fonts/BANKGOHT.svg#Bankgoht') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BankGothicRUSSMedium';
  src: url('fonts/BankGothicRUSSMedium.eot');
  src: url('fonts/BankGothicRUSSMedium.eot?#iefix') format('embedded-opentype'), url('fonts/BankGothicRUSSMedium.woff') format('woff'), url('fonts/BankGothicRUSSMedium.ttf') format('truetype'), url('fonts/BankGothicRUSSMedium.svg#BankGothicRUSSMedium') format('svg');
  font-weight: 400;
  font-style: normal;
}